.suggestContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  font-weight: bold;
  margin-bottom: 8px;
}

.rowContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  width: 100%;
}

.inputWrapper {
  width: 100%;
}
