.suggestContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.label {
  font-size: 14px;
  margin-bottom: 6px;
  font-weight: 500;
}

.inputContainer {
  display: flex;
  gap: 10px;
}
