.controlRowContainer {
  display: flex;
  margin-bottom: 8px;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
}

.childrenContainer {
  flex: 1;
}

.addButton {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 4px;
}

.removeButton {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
