.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.addButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.label {
  font-size: 16px;
  font-weight: bold;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.inputField {
  width: 50px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.inputField::placeholder {
  color: #aaa;
}

.removeButton {
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}
