.container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.inputSide {
  flex: 3; /* Occupies 3 parts of the available space */
  padding: 10px;
}

.icon {
  flex: 1; /* Occupies 1 part of the available space */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /* Ensures it stays fixed to the top of the screen */
  position: fixed;
  /* Stick to the top of the screen */
  top: 0;
  right: 0; /* Align it to the right side */
  background-color: white; /* Optional: To maintain a background */
  /* Ensures it stays above other elements */
  z-index: 100;
  opacity: 0.9;
}
