.optionList {
  position: absolute;
  width: 100%;
  min-height: 20px;
  left: 0px;
  z-index: 100;
  border-radius: 5px;
  border: 1px solid #000;
  /* display the options */
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 0.95;
  background-color: #fff;
}

.notFound {
  padding: 10px;
  text-align: center;
  color: #999;
  font-style: italic;
}
