.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.modeBody {
  width: 100%;
}
