.inputList {
  width: fit-content;
  max-width: 100%;
  min-width: 0;
}

.inputListFullWidth {
  width: 100%;
}

.label {
  display: inline-block;
  margin-bottom: 4px;
  color: #475569;
  font-size: 12px;
  font-weight: 500;
}

.sizeS {
  width: 140px;
}

.sizeM {
  width: 200px;
}

.sizeL {
  width: 260px;
}

.sizeXL {
  width: 320px;
}
