.background {
  display: flex;
  /* height: 1080px; */
  /* width: 1920px; */
  width: 100vw;
  height: 100vh;
  background-repeat: repeat;
  background-color: #fff0f0;
  padding: 118px 10px;
  justify-content: center;
}
