.background {
  display: flex;
  /* height: 1080px; */
  /* width: 1920px; */
  min-width: 1920px;
  min-height: 1080px;
  background-repeat: repeat;
  background-color: #fff0f0;
  padding: 118px 10px;
  justify-content: center;
}
