.upperSide {
  display: flex;
}

.upperSide .edit {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.upperSide .inputvarient {
  padding: 15px 0 10px 0;
  border: none;
  background-color: #ffe8e8;
  font-weight: 700;
  font-size: 15px;
}

.upperSide .inputvarient:focus {
  outline: none;
}

.upperSide .close {
  cursor: pointer;
}

.upperSide .close:hover {
  transform: scale(1.5);
}

.container .drag {
  cursor: grab;
  width: 30px;
}
