.inputOptionBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* or center, depending on your needs */
  gap: 12px; /* spacing between input area and tags */
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.label {
  overflow: hidden;
}

.inputOption {
  flex: 0 0 80%;
  max-width: 80%;
  min-width: 0;
}

.inputContainer {
  position: relative;
}

.tagContainer {
  height: auto;
  overflow-y: auto;
  /* --- */
  max-width: 100%;
  min-width: 0;
  display: flex;
  flex-wrap: wrap; /* let tags wrap if many */
  gap: 8px;
  align-content: flex-start; /* control how multiple rows align */
  position: absolute;
}
