.container {
  /* width: 100px; */
  width: 100%;
  position: relative;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: left;
  cursor: pointer;
}

.container:hover {
  background-color: #ffeaea;
}

.container .checkbox {
}

.container .label {
  margin: 0;
  padding: 5px;
  font-size: 12px;
}
