.tagBlock {
  display: inline-block;
}

.container {
  /* layout */
  height: 20px;
  padding: 0px 5px 0px 8px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* style */
  margin: 3px;
  border-radius: 20px;
  background-color: #ffcaca;
  font-size: 12px;
  font-weight: 300;
  cursor: pointer;
}

.cancel {
  padding-top: 4px;
  padding-bottom: 4px;
}

.hover {
  transform: scale(1.2);
}
