.inputOptionBox {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between label and children */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
}

.labelContainer {
  display: flex;
  justify-content: flex-start; /* Align label to the start (left) */
}

.label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between child elements */
}
