.container {
  /* layout */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 850px;
  height: 800px;
  /* style */
  border: 15px solid #ffaaaa;
  border-radius: 10px;
  background-color: #fff1f1;
  box-shadow: 4px 4px 15px 5px rgba(0, 0, 0, 0.25);
  padding: 20px;
  z-index: 1000;
}
