.header p {
  font-weight: 700;
}

.header,
.row {
  display: grid;
  grid-template-columns: repeat(6, 100px) 1fr;
  grid-template-rows: 60px;
}

.row input {
  /* background-color: #fff1f1; */
  /* border: 1px solid #333; */
}

.row input:focus-within {
  outline: none;
}

.row .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
}
