.button {
  display: flex;
  justify-content: center;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 6px 18px;
  background-color: #ffffff;
  font-family: 'Inter';
  font-weight: 500;
}

.button:hover {
  background-color: #333;
  color: #fff8f8;
  cursor: pointer;
}

.button p {
  font-weight: 500;
}
