.controlRowWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.controlRowContainer {
  display: flex;
  margin-bottom: 12px;
  width: 100%;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  margin-right: 8px;
  gap: 5px;
}

.childrenContainer {
  display: flex;
  flex: 1;
  gap: 8px;
}

.addButton {
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 15%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 4px;
}

.removeButton {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #000;
  border-radius: 15%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
