.tableSection {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.actionsBar {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.cellInput {
  width: 100%;
}

.suggestCell {
  min-width: 240px;
}

.uploadsCell {
  /* min-width: 220px; */
}

.checkboxCell {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
}
