/* .inputOption {
  position: relative;
} */
.inputContainer {
  position: relative;
}

.optionList {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 28px;
  left: 0px;
  z-index: 100;
  border-radius: 5px;
  background-color: #fff8f8;
  border: 1px solid #000;
  /* display the options */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.tagContainer {
  height: auto;
  overflow-y: auto;
}
