.productIcon {
  width: 50px;
  height: 50px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.productIcon img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.placeholderIcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border-radius: 4px;
  color: #999;
}

.placeholderIcon svg {
  width: 30px;
  height: 30px;
}